body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Header {
  height: 80px;
  width: 100%;
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
  background-color: LightSteelBlue;
  z-index:1;
}

.searchInput {
  height: 10px;
  width: 80px;
}

.autos {
  width: 80px;
}

.row {
  width: 310px;
  float: left;
  height: 380px;
  border: 1px;
  margin: 15px;
  font-family: 'Limelight', cursive;
  font-size: 22px;
  color: MidnightBlue;

}

@media (max-width: 400px) {
  .logo {
    float: left;
    font-size: 0;
  }
}
.logo {
  float: left;

}
.button {
  height: 40px;
  font-family: 'Limelight', cursive;
  border-radius: 10px;
  margin-left: 5%;
}
.pic{
  border-radius: 10px;
  width: 230px;
  height: 230px;
  margin-top: 10px;
}
.pic:hover {
  transform: scale(1.1);

}
.noResult {
  margin: auto;
  font-size: 30px;
}
.rowAddress{
  font-size: 14px;
}
.popUpMap{
  width: 400px;
  height: 400px;
  background-color: black;
  margin: auto;
  position: fixed;
  z-index: 1;
  border-radius: 10px;
}

.searchBar{
  width: 350px;
  margin: auto;


}
.mapRow {
  position: relative;
  z-index: 1;
  opacity: .85;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

.mapButton {
  margin: auto;
}

#PlacesAutocomplete__root {
  width: 250px;
  float: left;
  margin: auto;
  z-index: 10;
}
