body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Header {
  height: 40px;
  width: 100%;
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
}

.searchInput {
  height: 10px;
  width: 80px;
}

.autos {
  width: 80px;
}

.row {
  width: 310px;
  float: left;
  height: 380px;
  border: 1px;
  border-style: solid;
  margin: 15px;
}

.button {
  height: 20px;

}

.selectQuery {
  float: right;
  width: 200px;
  border: 1px;
  border-style: solid;
}
#PlacesAutocomplete__root {
  width: 300px;
  float: left;
  margin: auto;
}
